body {
    margin: 0;
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    position: relative;
}

.container {
    padding-right: 60px;
    padding-left: 60px;
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.menuLink {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.menuLink a {
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
}

.status::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 25px;
    display: inline-block;
    background-color: #47c652;
}

.menuLink span {
    padding-left: 5px;
}

.login {
    background: rgba(255, 255, 255, .15);
    border-radius: 3px;
}

.signup {
    background: #f47b21;
    border-radius: 3px;
}

.menuContainer img {
    height: 28px;
    width: 202px;
}

.menu {
    display: flex;
    height: 70px;
    align-items: center;
}

.burgerMenu {
    display: none;
}

.background-images {
    position: absolute;
    height: 550px;
    width: 100%;
    /*padding-top: 40px;*/
    background: url("../png/mountains.svg"), linear-gradient(135deg, #1f4e69, #164068 100%), center;
    background-size: cover;
    z-index: -1;
}

.home {
    padding-top: 50px;
    height: 430px;
}

.background {
    width: 492px;
    height: 292px;
    border: 4px solid #608094;
    border-radius: 10px;
    background: #16394c;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    color: #fff;
    margin-top: 40px;
}

.location {
    position: absolute;
    padding-top: 10px;
}

.location span, .main_left span {
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.main_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-right: 50px;
}

.main_left img {
    width: 140px;
}

.main_left span {
    position: absolute;
    padding-top: 100px;
    padding-left: 45px;
}

.main_center span {
    /*position: absolute;*/
    font-size: 32px;
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    padding-right: 90px;
}

.main_right {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    font-size: 13px;
    gap: 5px;
}

.weeks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 20px;
}

.day {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    font-size: 12px;
}

.temperature {
    font-family: "Open Sans", "Gill Sans MT", "Gill Sans", Corbel, Arial, sans-serif;
    font-size: 14px;
}

.day img {
    height: 70px;
}

.intro {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.intro h2 {
    font-size: 32px;
}

.intro h4 {
    font-size: 18px;
}

.intro .customer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 17px;
    background: rgba(255, 255, 255, .1);
    padding: 10px 15px;
    width: 350px;
}

.startAPI {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.intro .trophy {
    height: 20px;
}
.startAPI #API {
    background: #f47b21;
    padding: 20px 40px;
    border-radius: 3px;
}

.startAPI a {
    text-transform: uppercase;
    background: #f47b21;
    text-decoration: none;
    color: #fff;
}

#freeAPI {
    font-family: FriendlyFont, sans-serif;
    font-size: 19px;
    left: 20px;
}

.company {
    background: #eff2f5;
    align-items: center;
    height: 140px;
}

.company1 img {
    width: 100px;
}
.company2 img {
    width: 100px ;
}
.company3 img {
    width: 50px;
}
.company4 img {
    width: 90px;
}
.company5 img {
    width: 110px;
}
.company6 img {
    width: 60px;
}

.show {
    padding-top: 40px;
    padding-bottom: 40px;
}

.boxes {
    display: flex;
    flex-direction: row;
    background: #eff2f5;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
}

.box .heading {
    font-size: 15px;
    font-weight: bold;
}

.box .content {
    font-size: 14px;
}

.box .lnr {
    font-size: 30px;
}

.box .speed {
    height: 30px;
}

.feature {
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 60px;
}

.map img {
    width: 550px;
}

.detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detail .heading {
    font-size: 25px;
}

.detail .content, .list .listContent {
    font-size: 15px;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.list .lnr {
    font-size: 25px;
}

.method {
    background: #184157 url("../png/bg_waves_4.svg") bottom no-repeat;
    background-size: cover;
    color: #fff;
    align-items: center;
    padding-top: 40px;
    gap: 40px;
}

.methodHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    justify-content: center;
    gap: 20px;
}

.example {
    background: #416376;
    padding: 10px 15px;
    border-radius: 99px;
}

.example span {
    font-size: 14px;
    text-transform: uppercase;
}

.methodHeading .heading {
    font-size: 25px;
    font-weight: bold;
}

.methodHeading .content {
    font-size: 20px;
    text-align: center;
}

.button {
    display: flex;
    flex-direction: row;
}

.button1, .button2, .button3 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    padding: 15px 50px;
}

.button1 {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.button3 {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px ;
}

.button a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.button a:hover {
    text-decoration: underline;
}

.result {
    background: #000000;
    height: 740px;
    width: 600px;
    border-radius: 5px;
    margin-top: -20px;
    justify-content: center;
    display: flex;
    padding-top: 100px;
}

#result {
    color: #ffffff;
    font-size: 60px;
}

.featureLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 50px;
}

.featureCard {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 297px;
    background: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 5px;
}

.featureList {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.featureList .heading {
    font-size: 15px;
}

.featureCard .content {
    font-size: 14px;
}

.featureList .lnr {
    font-size: 30px;
}

.lnr img {
    height: 30px;
}

.grid {
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.grid .heading {
    font-size: 25px;
    font-family: Promo, Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.grid .content {
    font-size: 20px;
    font-weight: 200;
    max-width: 600px;
    text-align: center;
}

.client {
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    padding-top: 20px;
    padding-bottom: 70px;
}

.client1{
    background: #263e6a;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.client2{
    background: #eef2f5;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.client3{
    background: #01275b;
    width: 135px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.client4{
    background: #eef2f5;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.client5{
    background: #009e4d;
    width: 200px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.client6{
    background: #027ac2;
    width: 190px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.client7{
    background: #ee2e25;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.client8{
    background: #eef2f5;
    width: 135px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client9{
    background: #23477f;
    width: 260px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client10{
    background: #eef2f5;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.client1 img{
    width: 170px;
}

.client2 img{
    width: 160px;

}

.client3 img{
    width: 70px;

}

.client4 img{
    width: 170px;

}

.client5 img{
    width: 160px;

}

.client6 img{
    width: 40px;

}

.client7 img{
    width: 100px;

}

.client8 img{
    height: 70px;

}

.client9 img{
    width: 230px;
    height: 60px;

}

.client10 img{
    width: 160px;
}

.access {
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
    background: #eef2f5;
}

.access .heading {
    font-size: 17px;
    font-weight: bold;
}

.access .button {
    background: #f47b21;
    border-radius: 3px;
    padding: 20px 20px;
}

.access .button a {
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
}

.access .lnr {
    font-size: 20px;
    font-weight: bold;
}

.footer {
    background: #184157;
    color: #fff;
    gap: 80px;
    padding-top: 100px;
    padding-bottom: 140px;
}

.footerLeft {
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    width: 800px;
}

.leftLists {
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.leftLists .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.leftLists .heading {
    text-transform: uppercase;
    font-weight: bold;
}

.leftLists .content a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.leftLists .content a:hover {
    text-decoration: underline;
}

.footerRight {
    display: flex;
    flex-direction: column;
}
.footerRight .footerLogo {
    padding-bottom: 70px;
}

.footerRight .footerLogo img {
    height: 40px;
}

.socials {
    padding-bottom: 20px;
}

.footerRight .socials img {
    height: 25px;
    width: 25px;
}

.footerRight .copyright {
    font-size: 14px;
}

.footerRight .copyright a {
    color: #fff;
}

/* media query should be place at the end*/
@media only screen and (max-width: 800px) {
    .menu {
        padding-left: 20px;
        padding-right: 20px;
    }

    .menu .menuContainer.menuLink {
        display: none;
    }

    .burgerMenu {
        display: block;
        color: white;
        font-size: 25px;
        height: 30px;
        width: 30px;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        height: 780px;
        justify-content: normal;
        gap: 40px;
    }

    .intro {
        padding-right: 20px;
        padding-left: 20px;
        align-items: center;
    }

    .intro h2 {
        width: 300px;
        font-size: 25px;
        text-align: center;
        margin: auto;
    }

    .intro h4 {
        font-size: 18px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .intro h4 br {
        display: none;
    }

    .intro .customer {
        width: 320px;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px ;
        gap: 0;
    }

    .intro .customer span {
        text-align: center;
        width: 250px;
    }

    .startAPI #API {
        padding: 20px 20px;
    }

    .background {
        margin: 0;
        padding-top: 20px;
        width: 342px;
        height: 292px;
    }

    .background .location {
        padding-top: 0;
    }

    .background .main {
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: normal;
        align-items: normal;
        padding-top: 40px;
        gap: 0;
    }

    .main .main_left {
        order: -1;
        margin-left: 0;
        padding: 0;
        margin-top: -30px;
    }

    .main .main_right {
        order: -2;
        margin-right: 20px;
        margin-left: 70px;
        padding: 0;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .main .main_center {
        padding: 0;
        margin-top: -40px;
    }

    .main_center .temperature {
        padding-right: 20px;
    }

    .weeks {
        gap: 2px;
    }

    .company {
        gap: 30px;
        overflow-x: auto;
    }

    .company0 {
        display: none;
    }

    .company1 img, .company2 img{
        width: 120px;
    }

    .company5 img {
        width: 130px;
    }

    .show {
        padding-left: 20px;
        padding-right: 20px;
    }

    .boxes {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .box .heading {
        font-size: 18px;
    }

    .box .content {
        font-size: 16px;
    }

    .feature {
        flex-direction: column;
        gap: 120px;
        padding: 0 20px 100px;
    }

    .feature .detail {
        align-items: center;
    }

    .detail .heading {
        text-align: center;
        font-size: 28px;
    }

    .detail .content {
        text-align: center;
        font-size: 16px;
    }

    .detail .lists {
        align-items: center;
    }

    .feature .map img {
        width: 330px
    }

    .methodHeading .heading {
        width: 300px;
        text-align: center;
    }

    .methodHeading .content {
        width: 350px;
        text-align: center;
        font-size: 23px;
    }

    .method .button {
        flex-direction: column;
    }

    .button1 {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }

    .button3 {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
    }

    .result {
        width: 350px;
        padding: 0;
        margin: 0;
    }

    .featureCard {
        width: 320px;
        margin: 0;
    }

    .featureCard .heading {
        font-size: 18px;
    }

    .featureCard .content {
        font-size: 16px;
    }

    .grid .heading {
        width: 350px;
        text-align: center;
    }

    .grid .content {
        width: 350px;
        text-align: center;
        font-size: 23px;
    }

    .client {
        justify-content: center;
    }

    .access .heading, .access .lnr {
        display: none;
    }

    .access .button {
        width: 330px;
        align-items: center;
        justify-content: center;
    }

    .footer {
        flex-direction: column;
        padding: 40px 20px 60px;
        gap: 60px;
    }

    .footerLeft {
        width: 350px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .footerLeft .leftLists {
        padding-top: 40px;
    }

    .footerRight {
        justify-content: center;
        align-items: center;
    }

    .footerRight .footerLogo {
        padding-bottom: 30px;
    }

    .footerRight .copyright {
        text-align: center;
    }


















    .background-images {
        height: 900px;
    }







}
